.overlay {
    position: fixed;
    background: transparent;
    inset: 0;
    z-index: 2;
}

.chat-menu {
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 10px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
    row-gap: 1rem;
    z-index: 3;
}
